<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="wk4Excercise.Properties.Settings.myRegister" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Jap\Desktop\DC305 Files\Excercises\wk4Excercise\wk4Excercise\wk4Excercise\db\registerDB.mdf&quot;;Integrated Security=True;Connect Timeout=30" />-->
      <add name="myRegister" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Jap\Desktop\DC305 Files\Excercises\wk4Excercise\wk4Excercise\wk4Excercise\db\registerDB.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>